body {
    background: #212121;
    color: #666;
}

h1, h2, h3, h4, #curGameId, #currentLobby, #pot, p {
    text-align: center;
    color: #fff !important;
}

#logout, #logout a, #myAccount, #myAccount a, #resetBalance, #resetBalance a {
    font-size: 15px;
    text-align: right;
    color: #666 !important;
    margin: 5px;
}

.clearfix {
    clear: both;
}

#box {
    width: 900px;
    overflow: auto;
    margin: auto;
    background: #666;
    padding-bottom: 40px;
    border-radius: 10px;
}

#message {
    background: #333;
    color: #fff;
}

#gameBoard, #myHand {
    float: center !important;
    text-align: center;
}

#gameBoard {
    padding-left: 5.5%;
}

#myHand {
    padding-left: 32.2%;
    /*padding-right: 35%;*/
}

#gameBoard li, #myHand li {
    float: left;
    margin: 15px;
    padding: auto;
    height: 200px;
    width: 130px;
    font-size: 10px;
    background: #333;
    color: #ccc;
    list-style: none;
    text-align: center;
    border-radius: 9px;
}

.card {
    height: 200px;
    border-radius: 9px;
}

.normalButton, #reset, #check, #fold, #startGame {
    margin: 5px;
    border: 0;
    background: #444;
    color: #fff;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
}

#bet, #connectByGameId {
    margin: 5px;
    border: 0;
    background: #444;
    color: #fff;
    width: 10%;
    padding: 10px;
    border-radius: 5px;
}

#connectByGameId {
    width: 30%;
}

#gameBoard li:hover, #myHand li:hover, button:hover, #reset:hover, #check:hover, #fold:hover, #bet:hover, #connectByGameId:hover, #startGame:hover {
    cursor: pointer;
    background: #222;
}

.o {
    color: green !important;
}

.x {
    color: red !important;
}

footer {
    display: block;
    text-align: center;
    padding-top: 20px;
}

.hidden {
    visibility: hidden;
}